<div class="main" ng-app="mytodo" ng-controller="myCtrl">
  <h1>Form</h1>
  <form [formGroup]="parcelForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <label for="sku">SKU</label>
      <input id="sku" type="text" formControlName="sku" required>
      <div
        *ngIf="sku.invalid"
        class="alert alert-danger sku-errors"
      >
        Enter unique SKU.
        <div *ngIf="sku.errors?.['uniqueSku']">
          SKU is already taken.
        </div>
      </div>
    </div>
    <div class="row">
      <label for="description">Description</label>
      <input id="description" type="text" formControlName="description" required>
    </div>
    <div class="row">
      <label for="address">Address</label>
      <input id="address" type="text" formControlName="address" required>
    </div>
    <div class="row">
      <label for="town">Town</label>
      <input id="town" type="text" formControlName="town" required>
    </div>
    <div class="row">
      <label for="country">Country</label>
      <input id="country" type="text" formControlName="country" required>
    </div>
    <div class="row">
      <label for="date">Delivery date</label>
      <input type="date" id="date" formControlName="date" required>
    </div>
    <button type="submit" [disabled]="!parcelForm.valid">Add parcel</button>
  </form>
</div>
